.why-choose-us {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  justify-items: center;
  margin-top: 50px;
}

.choose-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;

}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-button {
  width: 100%;
  padding: 10px;
  text-align:center;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: black;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  display: none;
  font-size: 16px;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .choose-title {
    font-size: 20px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .accordion-content {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .why-choose-us {
    padding: 15px;
  }

  .choose-title {
    font-size: 18px;
  }

  .accordion-button {
    font-size: 15px;
    padding: 8px;
  }

  .accordion-content {
    font-size: 14px;
    padding: 8px;
  }
}
